
.intro{
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 5px lightblue;
    background-color: #cec9c9;
}

.intro div h1{
    margin: -0.1em;
    padding-top: 1em;
}
  
  
/* body */
body {
	background-color: white;
}
.headings {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 1em;
    text-shadow: 2px 2px 5px lightblue;
}

.logo {
    text-align: center;
    margin-top: 1em;
    }

.aboutMe { 
     padding: 1%;
     margin-top: 10px;
     font-size: 1.5em;
     text-align: center;
}
.pink {
    background-color: #eeafa3;
    padding: 1%;
    margin-top: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
}
/* 
.portfolioHead {
    background-color: rgba(255, 224, 157, 0.927);
     padding: 1%;
     margin-top: 10px;
} */
    

.text {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 85%;
    text-align: center;
    color: darkslategrey;
}
.container {
    margin-top: 30px;
}

.row {
    text-align: center;
}
/* footer */
.container1 {
    background-color: #cec9c9;
    padding: 1%;
    color: darkslategrey;
    text-align: center;
}

.footer-list a {
    color: darkslategrey;
}
.footer-list a:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
}